<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


<!--Bean'e dair yapılandırma metadata bilgileri-->
	<!--<bean id = "yakit" class ="com.zky.Yakit"/>-->
	<bean id = "yakit" class ="com.zky.Elektrik"/>
	
	<bean id = "araba" class ="com.zky.Araba">
		<constructor-arg ref ="yakit"/>
		<!-- Bean'e dair yapılandırma metadata bilgileri -->
	</bean>
	
	
	<!-- başka bean tanımlamaları -->
	
</beans>